<% include partials/header %>
  <article class='landing fixtop'>
    <div class="container">
      <div class="row">
        <div class="col-lg12">
          <div class="content">
            <h1>Vit Trekking Club</h1>
            <h3>Your next expedition starts here</h3>
            <hr>
            <a href="/campgrounds" class="btn btn-success btn-lg"><i class="fas fa-tree"></i> Start here</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

<% include partials/footer %>
